@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.0392%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 4.1584 85.5932% 53.7255%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94.9020%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 90.1961%;
    --muted-foreground: 0 0% 45.0980%;
    --accent: 4.5283 76.8116% 86.4706%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 65.0980%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90.1961%;
    --input: 0 0% 100%;
    --ring: 4.1584 85.5932% 53.7255%;
    --chart-1: 4.1584 85.5932% 53.7255%;
    --chart-2: 5.5901 84.2932% 62.5490%;
    --chart-3: 7.5630 82.0690% 71.5686%;
    --chart-4: 11.6883 77.7778% 80.5882%;
    --chart-5: 25.0000 69.2308% 89.8039%;
    --sidebar: 0 0% 98.0392%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 4.1584 85.5932% 53.7255%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 4.5283 76.8116% 86.4706%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 90.1961%;
    --sidebar-ring: 4.1584 85.5932% 53.7255%;
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 0 25px 0 hsl(0 0% 0% / 0.25);
    --tracking-normal: 0.025em;
  }


  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98.0392%;
    --card: 10 18.7500% 6.2745%;
    --card-foreground: 0 0% 98.0392%;
    --popover: 10 18.7500% 6.2745%;
    --popover-foreground: 0 0% 98.0392%;
    --primary: 4.1584 85.5932% 53.7255%;
    --primary-foreground: 0 0% 100%;
    --secondary: 8.5714 22.5806% 12.1569%;
    --secondary-foreground: 0 0% 98.0392%;
    --muted: 8.5714 22.5806% 12.1569%;
    --muted-foreground: 0 0% 54.9020%;
    --accent: 9.8182 55.5556% 19.4118%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 65.0980%;
    --destructive-foreground: 0 0% 100%;
    --border: 8.5714 22.5806% 12.1569%;
    --input: 10 18.7500% 6.2745%;
    --ring: 4.1584 85.5932% 53.7255%;
    --chart-1: 4.1584 85.5932% 53.7255%;
    --chart-2: 5.5901 84.2932% 62.5490%;
    --chart-3: 7.5630 82.0690% 71.5686%;
    --chart-4: 11.6883 77.7778% 80.5882%;
    --chart-5: 25.0000 69.2308% 89.8039%;
    --sidebar: 0 0% 0%;
    --sidebar-foreground: 0 0% 98.0392%;
    --sidebar-primary: 4.1584 85.5932% 53.7255%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 9.8182 55.5556% 19.4118%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 8.5714 22.5806% 12.1569%;
    --sidebar-ring: 4.1584 85.5932% 53.7255%;
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 0 25px 0 hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 0 25px 0 hsl(0 0% 0% / 0.25);
  }


  @layer base {
    * {
      @apply border-border;
    }

    body {
      @apply bg-background text-foreground;
    }
  }
}